h1 {

    color: blue;
}

h2 {
  font-style: italic;
}
p {
   font-family: verdana;
}

.Experience,.Education {
  font-family: courier;
  border: 2px solid;
  border-radius: 1em;
  margin-bottom: 1cm;
  margin-top: 2cm;
}

.Portfolio {
  color: red;
  background-color: yellow;


}
